<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Toaster.Properties.Settings>
            <setting name="ToastTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Corner" serializeAs="String">
                <value>Top Right</value>
            </setting>
            <setting name="OffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OffsetY" serializeAs="String">
                <value>0</value>
            </setting>
        </Toaster.Properties.Settings>
    </userSettings>
</configuration>